@page "/"
@rendermode InteractiveServer
@inject TaskEntryManager taskEntryManager

<PageTitle>Home</PageTitle>


<div class="card mb-4">
    <div class="card-header">Dodaj nowe zadanie</div>
    <div class="card-body">
        <EditForm Model="newTask" OnValidSubmit="HandleSubmit">
            <DataAnnotationsValidator />
            <div class="row g-3">
                <div class="col-md-4">
                    <label class="form-label">Tytuł</label>
                    <InputText @bind-Value="newTask.Title" class="form-control" placeholder="Tytuł" />
                </div>
                <div class="col-md-3">
                    <label class="form-label">Kategoria</label>
                    <InputSelect @bind-Value="newTask.Category" class="form-select">
                        @foreach (var category in Enum.GetValues<TaskEntryCategory>())
                        {
                            <option value="@category">@category</option>
                        }
                    </InputSelect>
                </div>
                <div class="col-md-5">
                    <label class="form-label">Opis</label>
                    <InputText @bind-Value="newTask.Description" class="form-control" placeholder="Opis" />
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Dodaj zadanie</button>
                </div>
            </div>
        </EditForm>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Status</th>
            <th>Tytuł</th>
            <th>Kateogria</th>
            <th>Opis</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in tasks)
        {
            <tr>
                <td>
                    <input type="checkbox" @bind="task.IsDone" />
                </td>
                <td style='@(task.IsDone ? "text-decoration: line-through;" : "")'>
                    @task.Title
                </td>
                <td>
                    <span class="badge bg-info">@task.Category</span>
                </td>
                <td>@task.Description</td>
            </tr>
        }
    </tbody>
</table>



@code {
    private List<TaskEntry>? tasks;
    private TaskEntry newTask = new();

    protected override void OnInitialized()
    {
        tasks = taskEntryManager.GetTasks();
    }

    private void HandleSubmit()
    {
        taskEntryManager.Add(newTask);        
        newTask = new();
        RefreshList();
    }

    private void RefreshList()
    {
        tasks = taskEntryManager.GetTasks();
    }

}